backup_c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/c_cpp_properties.json
~$FF_calcs.xlsx
FF_calcs.xlsx
*.code-workspace
.vscode/arduino.json
.vscode/c_cpp_properties.json
.Rproj.user
/FF Data Anal
